.formInput {
    position: relative;
    marginLeft: 88.5%;
    width: 350px;
    height: 100px
}
.afisaj{
    background-image: url("./assets/forget.png");
    width:300px;
    height:200px;

}

.HomePage{
    background-color:#bddd82;
    color:rgb(9, 56, 100);
    border: 3px solid yellow;
    width: 80vw;
    height:82vh;
    position: absolute;
    top:14%;
    font-family:'Times New Roman', Times, serif;
    display:block;
    text-align: start;
    font-size:25px;
    z-index: 2;
    right:calc(50% - 40vw);
    opacity:0.9;


    border-radius:25px;

}
.appBox{
    height:auto;
    position:relative;
    margin:14px;
    padding:16px;
    background-color:cornflowerblue;
    text-align:center;
}
.appBox>img{
    width:343px;
    height:343px;
}
.appBox:hover{
    background-color: #3179ed;
    padding:22px;

}
.flex-container{

}
.myFlex{


}
.myFlex>div{


}
.box{
    background-color: lightgrey;

    border: 7px solid black;
    padding: auto;
    margin: 20px;
}
ul>li{
    margin-top:22px;

}
li{
    line-height:25px;
}
@media(prefers-reduced-motion: no-preference){

    .transition3{
        animation: AfterInitiation 6s;
        animation-fill-mode: forwards;
    }
    .transitionnn9{
        animation:App-logo-floatn 6s;
        animation-fill-mode: forwards;
    }
    .transitionnn10{
        animation:Initiationn 6s;
        animation-fill-mode: forwards;
    }
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes AfterInitiation{
    0% {
        display:none;
        z-index:-2;
    }
    30%{
        display:block;
        opacity:0.1;
        z-index:-1;
    }
    100%{
        display:block;
        opacity:1;
        z-index:4;

    }
}
@keyframes App-logo-floatn {
    0% {
        transform: translateY(0px);
        opacity: 1;
        z-index: 4;
    }

    50% {
        transform: translateY(100px);
        
    }

    99% {
        transform: translateY(50px);
  
    }
    100% {
        transform: translateY(0px);
        opacity:0;
        z-index: -4;
    
  
    }
}
@keyframes Initiationn {
    0% {

        opacity: 1;
        z-index: 4;
    }
    50% {

        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -4;
    
        display:none;

    }
}
